:root {
    --nav-bg-color: #38393d;
    --primary-color: #2ca01c;
    --main-bg-color: #f4f5f8;
    --main-primary-color: #eceef1;
    --text-primary-color: #111111;
    --menu-bg-active-color: #58595d;
    --blue-color: #0075c0;
}