.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 32px;
    width: 444px;
    min-width: 444px;
    position: relative;
    border-radius: 6px;
}

.dialog-close {
    position: absolute;
    top: 0;
    right: 0;
}

.dialog-close .dialog-close-btn{
    padding: 10px;
    cursor: pointer;
}

.dialog-close div:hover{
    background-color: #ccc;
}

.dialog-body {
    border-bottom: 1px solid #ddd;
}

.dialog-message{
    overflow: auto;
    max-height: 400px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 12px;
}

.dialog-message span{
    display: block;
}

.dialog-footer{
    margin-top: 20px;
}

.dialog-footer button {
    float: right;
}
